{% extends './base.html' %}
{% load static i18n %}
{% block content %}
<section>
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h2 class="h3"><em>Política & Privacidad</em></h2>
          <div class="blockquote">
            <blockquote>
              Una vez que el usuario accede a este sitio, se conserva en los servidores cierta información
              sobre el usuario, como las direcciones de correo electrónico, posiblemente las direcciones asignadas
              por el Protocolo de Internet (IP), la navegación por el sitio junto con otros datos similares.

              Esta información no identificará concretamente al usuario y se utilizará internamente sólo para
              analizar el tráfico del sitio. Si el usuario revela alguna información singular que lo identifique,
              como su nombre, dirección u otros datos, en formularios almacenados en este sitio, dicha información
              se utilizará sólo para fines estadísticos y no será objeto de difusión general. 
              Sin embargo, le sitio no será en modo alguno responsables de la seguridad de esa información.
            </blockquote>
            <footer class="blockquote-footer"></footer>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
